.slider-height {
  min-height: calc(100% - 53px);
  min-height: calc(-webkit-fill-available - 53px);
  min-height: calc(fill-available - 53px);
  min-height: --webkit-fill-available;
}

/* .lock-screen-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
  position: fixed;
  inset: 0;
} */
