@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:ital,wght@0,700;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .text-selection::selection {
    @apply bg-yellow dark:bg-red-400;
    @apply bg-opacity-20;
  } */

  /* .bg-yellow dark:bg-red-400 {
    @apply dark:bg-red-400;
  }

  .text-yellow {
    @apply dark:text-red-400;
  }
  
  .border-yellow dark:border-red-400 {
    @apply dark:border-red-400;
  }

  .bg-white {
    @apply dark:bg-[#121212];
  }

  .text-dimgrey {
    @apply dark:text-lightgrey;
  } */

  .text-h1 {
    @apply text-[3.5rem];
    @apply tracking-[-0.1563rem];
    @apply leading-[3.5rem];
    @apply font-headfont;
    @apply font-bold;
    /* @apply text-selection; */
  }

  .text-h2 {
    @apply text-[3rem];
    @apply tracking-[-0.1338rem];
    @apply leading-[3rem];
    @apply font-headfont;
    @apply font-bold;
    /* @apply text-selection; */
  }

  .text-h3 {
    @apply text-[2.5rem];
    @apply tracking-[-0.1119rem];
    @apply leading-[3rem];
    @apply font-headfont;
    @apply font-bold;
    /* @apply text-selection; */
  }

  .text-h4 {
    @apply text-[1.5rem];
    @apply tracking-[-0.0669rem];
    @apply leading-[1.75rem];
    @apply font-headfont;
    @apply font-bold;
    /* @apply text-selection; */
  }

  .text-body {
    @apply text-[0.9375rem];
    @apply leading-[1.5625rem];
    @apply font-bodyfont;
    /* @apply text-selection; */
  }

  .bg-image-opacity {
    /* @apply content-[' ']; */
    @apply block;
    @apply absolute;
    @apply left-0;
    @apply top-0;
    @apply w-full;
    @apply h-full;
    @apply opacity-75;
    @apply bg-[#2F3B59];
    @apply bg-no-repeat;
    @apply bg-cover;
    /* @apply bg-[50% 0]; */
  }

  .homepageherobg {
    background: url("/src/assets/heroimage.png");
  }
  .aboutpagebg::before {
    background-image: linear-gradient(
        0deg,
        rgba(47, 59, 89, 0.75),
        rgba(47, 59, 89, 0.75)
      ),
      url("/src/assets/aboutbg.png");
  }
  .locationspagebg::before {
    background-image: linear-gradient(
        0deg,
        rgba(47, 59, 89, 0.75),
        rgba(47, 59, 89, 0.75)
      ),
      url("/src/assets/locationsbg.png");
  }
}
